<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Web Assignment</title>
    <link href="https://fonts.googleapis.com/css?family=Passion+One" rel="stylesheet">
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body class="page">
    <div class="wrapper">
        @Html.Partial("_NavBar")
        <div class="body-content">
            @RenderBody()
        </div>
    </div>
    @Html.Partial("_Footer");



    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>

